@font-face {
    font-family: "OCR A Std";
    src: url(OCRAStd/OCRAStd.otf) format('.otf');
}

@font-face {
    font-family: "Futura";
    src: url(FuturaStd/FuturaStd-Book.otf) format('.otf');
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

[class*='grid'] * {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    display: inline-block;
    font-family: "OCR A Std", "Helvetica", sans-serif;
    width: calc(100% / 12);
}

.row {
    content: ' ';
    clear: both;
}

.logo {
    font-size: 40pt;
    font-family: "OCR A Std", "Helvetica", sans-serif;
}

.col-2 {
    width: calc(calc(100% / 12) * 2);
}
.col-3 {
    width: calc(calc(100% / 12) * 3);
}
.col-4 {
    width: calc(calc(100% / 12) * 4);
}
.col-5 {
    width: calc(calc(100% / 12) * 5);
}
.col-6 {
    width: calc(calc(100% / 12) * 6);
}
.col-7 {
    width: calc(calc(100% / 12) * 7);
}
.col-8 {
    width: calc(calc(100% / 12) * 8);
}
.col-9 {
    width: calc(calc(100% / 12) * 9);
}
.col-10 {
    width: calc(calc(100% / 12) * 10);
}
.col-11 {
    width: calc(calc(100% / 12) * 11);
}
.col-12 {
    width: calc(calc(100% / 12) * 12);
}
