/*GERAL*/
html * {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.jockey {
    font-family: 'Jockey One', sans-serif;
    font-size: 48pt;
}

.roboto {
    font-family: "Roboto Mono", monospace;
}

[class*='col-'] {
    text-align: left;
    font-size: 14pt;
    font-family: "Roboto Mono", monospace;
    display: inline-block;
    position: relative;
    max-width: 100%;
}

.row {
    margin: 0;
}

[class*='grid-'] .row {
    margin-top: 100px;
    margin-bottom: 200px;
    margin-right: 0;
    margin-left: 0;
}

.redesSociais img {
    width: 20%;
}

.dropdown-toggle::after {
    display: none;
}

/*TÍTULOS*/

.letra-esquerda {
    width: 300px;
    left: 0;
    top: 100pt
}

/*HOMEPAGE*/

[class*='logo-'] {
    display: inline-block;
    position: absolute;
    padding: 0;
    margin: 0;
}

[class*='letra-'] {
    display: inline-block;
    position: absolute;
    padding: 0;
    margin: 0;
}

.letra-logo-esquerda {
    width: 8vw;
    left: 0;
    bottom: 0;
}

.letra-logo-fundo {
    height: 8vw;
    right: 0;
    bottom: 0;
}

.letra-logo-direita {
    width: 8vw;
    top: 0;
    right: 0;
}

/*NAVEGAÇÃO*/

.navbar-nav {
    font-family: 'Jockey One', sans-serif;
    font-size: 20pt;
    margin-left: 50px;
    color: black;
}

/*SOBRE*/

.grid-sobre .col-6 {
    top: 100px;
}

/*INTERVENIENTES*/

.nome {
    position: absolute;
    top: -0.8em;
    left: 0;
}

.apelido {
    position: absolute;
    bottom:-0.5em;
    right: 0;
}

.pic {
    text-align: center;
}

.grid-intervenientes .jockey {
    font-size: 100pt;
}

/*LOCAIS*/

#dei{
    background-color: transparent;
    width: 300pt;
    height: 120pt;
    border: 0;
    box-shadow: none;
}

#darq, #lab{
    background-color: transparent;
    height: 300pt;
    width: 120pt;
    border: 0;
    box-shadow: none;
}

.modal-title {
    font-family: "Jockey One", sans-serif;
    font-size: 36pt;
}

.modal-body img {
    width: 100%;
    margin-bottom: 20px;
}

.modal-content {
    font-family: "Roboto Mono", monospace;
    border-radius: 0;
}

.btn {
    border-radius: 0;
    background-color: black;
    color: white;
    box-shadow: none;
    border: 0;
}

.btn a:hover {
    text-decoration: none;
    color: black;
}

.btn:hover {
    background-color: yellow;
    color: black;
}

.btn:active {
    border: 0;
    box-shadow: none;
}

/*CONTACTOS*/

@media only screen and (max-width: 600px) {

    /*HOMEPAGE*/

    /*Design*/
    .letra-logo-esquerda {
        width: 16vw;
        left: 0;
        bottom: 0;
    }

    /*Tecnologia*/
    .letra-logo-fundo {
        width: auto;
        height: 16vw;
        transform: rotate(-90deg);
        right: 0;
        top: 0;
    }

    /*Arte*/
    .letra-logo-direita {
        width: 16vw;
        transform: rotate(90deg);
        right: 0;
        bottom: 0;
    }

    .navbar-toggler {
        box-shadow: none;
        border: 0;
    }

    .nav-item img {
        width: 8%;
        margin-right: 8px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {

    .letra-logo-esquerda {
        width: 12vw;
        left: 0;
        bottom: 0;
    }

    .letra-logo-fundo {
        height: 12vw;
        right: 0;
        bottom: 0;
    }

    .letra-logo-direita {
        width: 12vw;
        top: 0;
        right: 0;
    }

    /*INTERVENIENTES*/
    .nome {
        position: absolute;
        left: 20%;
    }

    .apelido {
        position: absolute;
        left: 60%;
    }
    .pic {
        position:relative;
        text-align: center;
        left:25%;
    }
    .info{
        top:50px;
        left:25%;
    }

    /*CONTACTOS*/
    .pic .nome{
        top:-250px;
        left:-30px;
    }

    .aux{
        left:10%;
    }

    /*NAVEGAÇÃO*/

    .navbar-nav {
        font-size: 18pt;
    }

}

