/*GERAL*/
html * {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}

.jockey {
    font-family: 'Jockey One', sans-serif;
}

.roboto {
    font-family: "Roboto Mono", monospace;
}

[class*='col'] {
    text-align: left;
    font-size: 14pt;
    font-family: "Roboto Mono", monospace;

    display: inline-block;

    position: relative;

    max-width: 100%;
}

.row {
   margin: 5% 0;
}

/*HOMEPAGE*/

[class*='letra-logo-'] {
    display: inline-block;
    position: absolute;
    padding: 0;
    margin: 0;
}

.letra-logo-esquerda {
    width: 8vw;
    left: 0;
    bottom: 0;
}

.letra-logo-fundo {
    height: 8vw;
    right: 0;
    bottom: 0;
}

.letra-logo-direita {
    width: 8vw;
    top: 0;
    right: 0;
}

/*NAVEGAÇÃO*/

.redesSociais img {
    width: 20%;
}

.dropdown-toggle::after {
    display: none;
}

.navbar-nav {
    font-family: 'Jockey One', sans-serif;
    font-size: 165%;

    margin-left: 5%;
}

.redesSociais {
    padding: 0;
    margin-top: 0;
}

.redesSociais a {
    margin-bottom: 3px;
    transition: color 0.3s;
}

.redesSociais a svg g {
    fill: white;
    transition: fill 0.3s;
}

.redesSociais a:hover svg g {
    fill: black;
}

/*SOBRE*/

#DAT {
    margin-top: 10vh;
    width: 16vw;
    left: 0;
}

/*INTERVENIENTES*/

.grid-intervenientes .pic img {
    width: 20vw;
}

.grid-intervenientes h2 {
    margin: 1vw 0;
}

.grid-intervenientes .jockey {
    font-size: 6vw;
}

.grid-intervenientes .mario-mobile {
    display: none;
}

.infoOrador {
    height: 0;
    overflow: hidden;
    transition: height 0.5s linear;
}

.show {
    display: block;
}

.grid-intervenientes .show {
    height: 400px;
}

/*LOCAIS*/

#dei{
    background-color: transparent;
    width: 15%;
    height: 20%;
    border: 0;
    box-shadow: none;
}

#darq, #lab{
    background-color: transparent;
    height: 40%;
    width: 10%;
    border: 0;
    box-shadow: none;
}

.modal-title {
    font-size: 300%;
}

.modal-body img {
    width: 100%;
    margin-bottom: 5%;
}

.modal-content {
    border-radius: 0;
}

.bot {
    border-radius: 0;
    background-color: black;
    color: white;
    box-shadow: none;
    border: 0;

    display: inline-block;
    padding: 5px 10px;
    font-size: 80%;
    font-family: "Roboto Mono", monospace;

    cursor: pointer;

    transition: background-color 0.3s;
}

.bot a:hover {
    text-decoration: none;
    color: black;
}

.bot:hover {
    background-color: yellow;
    color: black;
}

.bot:active {
    border: 0;
    box-shadow: none;
}

/*CONTACTOS*/

.grid-contactos .pic img {
    width: 10vw;
}

@media only screen and (max-width: 768px) {

    [class*='col'] {
        flex-basis: 100%;
    }

    /*NAVEGAÇÃO*/

    .navbar-toggler {
        box-shadow: none;
        border: 0;
        text-align: right;
    }

    button:focus {
        outline: none;
    }

    .nav-item img {
        width: 10%;
        margin-right: 8px;
    }

    .navbar-nav {
        transform: translateX(-50%);
        margin-left: 50%;
        text-align: center;
    }

    /*HOMEPAGE*/

    /*Design*/
    .letra-logo-esquerda {
        width: 16vw;
        left: 0;
        top: 0;
    }

    /*Tecnologia*/
    .letra-logo-fundo {
        width: auto;
        height: 16vw;
        transform: rotate(-90deg) translateX(100%);
        transform-origin: bottom right;
        bottom: 0;
        top: auto;
        right: 0;
    }

    /*Arte*/
    .letra-logo-direita {
        width: 16vw;
        transform: rotate(90deg);
        transform-origin: bottom left;
        top: auto;
        right: auto;
        bottom: 16vw;
        left: 0;
    }

    .navbar {
        justify-content: flex-end;
    }

    /*SOBRE*/

    #DAT {
        width: 200px;
        position: relative;
        top: auto;
        margin: 30px 0;
    }

    /*INTERVENIENTES*/

    h1, h2 {
        margin: 3vw 0;
    }

    .grid-intervenientes .jockey{
        font-size: 14vw;
    }

    h2 {
        font-size: 6vw;
    }

    .row {
        margin-right: 2vw;
        margin-left: 2vw;
    }

    .grid-intervenientes .pic img, .grid-contactos .pic img {
        width: 80vw;
    }

    .grid-intervenientes .mario-desktop {
        display: none;
    }

    .grid-intervenientes .mario-mobile {
        display: block;
    }

    .grid-intervenientes .show {
        height: 1500px;
    }

    /*LOCAIS*/

    #dei{
        width: 32vw;
        height: 16vw;
    }

    #darq {
        height: 40vw;
        width: 16vw;
    }

    #lab {
        height: 32vw;
        width: 16vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {

    /*GERAL*/

    h2 {
        font-size: 3vw;
    }

    [class*='col'] {

    }

    .row {
        margin-top: 0;
        margin-left: 3vw;
        margin-right: 3vw;
    }

    /*NAVEGAÇÃO*/

    .navbar-toggler {
        box-shadow: none;
        border: 0;
    }

    .nav-item img {
        width: 100%;
        margin-right: 8px;
    }

    .navbar-nav {
        transform: translateX(-50%);
        margin-left: 50%;
        text-align: center;
        font-size: 165%;
    }

    .redesSociais {
        margin: 0 auto;
        width: 50%;
    }

    /*HOMEPAGE*/

    /*Design*/
    .letra-logo-esquerda {
        width: 12vw;
        left: 0;
        top: 0;
    }

    /*Tecnologia*/
    .letra-logo-fundo {
        width: auto;
        height: 12vw;
        transform: rotate(-90deg) translateX(100%);
        transform-origin: bottom right;
        bottom: 0;
        top: auto;
        right: 0;
    }

    /*Arte*/
    .letra-logo-direita {
        width: 12vw;
        transform: rotate(90deg);
        transform-origin: bottom left;
        top: auto;
        right: auto;
        bottom: 12vw;
        left: 0;
    }

    .navbar {
        justify-content: flex-end;
    }

    /*SOBRE*/
    #DAT {
        width: 30vw;
        position: relative;
        top: auto;
        margin: 5% 0;
    }

    /*INTERVENIENTES*/
    .grid-intervenientes h2 {
        margin: 3vw 0;
    }

    .grid-intervenientes .pic {
        text-align: left;
    }

    .grid-intervenientes .pic img {
        width: 40vw;
    }

    .grid-intervenientes .mario-desktop {
        display: none;
    }

    .grid-intervenientes .mario-mobile {
        display: block;
    }

    .grid-intervenientes .show {
        height: 600px;
    }

    /*CONTACTOS*/

    .grid-contactos .pic img {
        width: 30vw;
    }

    .grid-contactos .pic {
        text-align: left;
    }

}

